@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #282c34;
  font-size: 2vmin;
  font-family: JetBrains Mono, monospace;
}

.homepage_1 {
    height: 75vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4bb68;
}

.homepage_nav {
    height: 25vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #1e2227;
}

.homepage_nav button {
    border: none;
    background: none;
    font-size: 2.5vmin;
    font-family: JetBrains Mono, monospace;
    color: #61afef;
    padding: 1.6rem;
}

.homepage_nav button:hover {
    background-color: #282c34;
    cursor: pointer;
}

.string {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 7s infinite;
}

.who {
  position: relative;
  top: 8vmin;
  animation: white-out 10s infinite;
}

.closure::after {
    content: '';
    position: absolute;
    height: 25vmin;
    width: 90vmin;
    background: #282c34;
    transform: translate(-90vmin, -25vmin);
  }
  
  .closure::before {
    content: '';
    position: absolute;
    height: 25vmin;
    width: 90vmin;
    background: #282c34;
    transform: translate(-85vmin, 5vmin);
  }

.name1 {
  color: #fa8231; 
}

.name2 {
  color: white;
}

.name3 {
  color: #c678dd;
}

.name4 {
  color: #78dd9a;
}

@keyframes move {
  25% {
    transform: translatey(-5.8vmin);
    opacity: 1;
  }
  50% {
    transform: translatey(-11vmin);
  }
  75% {
    transform: translatey(-16.5vmin);
  }
}

/* ABOUT ME PAGE */

.aboutme {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #282c34;
    color: #e4bb68;
}

.bottom_nav {
    height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #1e2227; 
}

.bottom_nav button {
    border: none;
    background: none;
    font-size: 2.5vmin;
    font-family: JetBrains Mono, monospace;
    color: #61afef;
    padding: 1.6rem;
}

.bottom_nav button:hover {
    background-color: #282c34;
    cursor: pointer;
}

.about_body {
    height: 85vh;
    width: 100vw;
    display: flex;
}

.profile_picture {
    height: 50vh;
    width: 50vh;
    background-color: #e0e0e0;
    color: #737373;
    margin: auto;
    margin-left: auto;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}

.profile_picture img {
    height: 50vh;
    width: 50vh;
}

.introduction_1 {
    margin: auto;
    margin-left: 2rem;
    text-align: start;
}

/* MY PROJECTS PAGE */

.myprojects {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #78dd7d;
}

.projects_page {
    height: 85vh;
    width: 100vw;
}

/* CONTACT ME PAGE */

.contactme {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #dd9d78;
}

.contact_page {
    height: 85vh;
    width: 100vw;
}

@media (max-width: 729px) {
    body {
        background: #282c34;
        font-size: 1.5vmin;
        font-family: JetBrains Mono, monospace;
      }
  
    .closure::before {
        content: '';
        position: absolute;
        height: 30vmin;
        width: 90vmin;
        background: #282c34;
        transform: translate(-80vmin, 4.2vmin);
    }

    .who {
        position: relative;
        top: 6.2vmin;
        animation: white-out 10s infinite;
      }

    @keyframes move {
        25% {
            transform: translatey(-4.5vmin);
            opacity: 1;
        }
        50% {
            transform: translatey(-8.5vmin);
        }
        75% {
            transform: translatey(-12.5vmin);
        }
    }

    .aboutme {
        height: 100vh;
        width: 100vw;
        display: block;
        background-color: #282c34;
        color: #e4bb68;
        padding: 5rem 0;
    }

    .profile_picture {
        height: 40vh;
        width: 40vh;
        background-color: #e0e0e0;
        color: #737373;
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        overflow: hidden;
    }
    
    .profile_picture img {
        height: 40vh;
        width: 40vh;
    }
    
    .introduction_1 {
        width: 70vw;
        height: 70vh;
        margin: 1rem auto auto auto;
        text-align: center;
    }
}

